body {
	font-family: 'Sarabun', sans-serif;
	padding: 0;
	margin: 0;
}

header {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to bottom, rgba(231, 240, 245, 1) 0%, rgba(170, 221, 235, 1) 100%);
	background-size: cover;
	color: black;
}

.about {
	height: 300vh;
	display: flex;
}

.about-title {
	width: 50%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 30px;
	margin: 0!important;
}

.about-pages {
	width: 50%;
}

.about-pages div {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	color: white;
}

.about-pages div p {
	width: 80%;
	font-size: 18px;
	line-height: 30px;
}

.about-pages div:nth-child(1) {
	background-color: rgb(56, 134, 89);
}

.about-pages div:nth-child(2) {
	background-color: rgb(129, 42, 110);
}

.about-pages div:nth-child(3) {
	background-color: rgb(31, 88, 107);
}

footer {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: bisque;
}

.name {
	font-family: 'Roboto', sans-serif;
	margin-bottom: 2px;
}

.wrapper {
	max-width: 50%;
	display: flex;
	flex-direction: row;
	height: 80%;
}

.left, .right {
	margin: 5px;
	max-width: 50%;
	flex: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.left {
	align-items: center;
	justify-content: center;
}

.profile-picture {
	border-radius: 50%;
}

.social-links {
	list-style: none;
	padding-left: 0px;
	font-size: 18px;
}

.social-links li {
	display: inline-block;
	margin-right: 8px;
}

.social-links a {
	text-decoration: none;
	padding: 4px;
}

.social-links a:hover {
	background-color: rgba(0, 0, 0, 0.1);
}